:root{
    --color-white: #f3f3f3;
    --color-darkblue: #1b1b32;
    --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
    --color-green: #37af65;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #f3f3f3;
}
body{
    background-color: var(--color-darkblue);
    position: relative;
}
.hamburger-icon{
    width: 50px;
    height: 50px;
    
    background-color: #37af65;
    display: none;
}
img{
    cursor: pointer;
}
#navbar{
    position: fixed;
    width: 280px;
    height: 100vh;
    border-right: 4px solid var(--color-white);
    background-color: var(--color-darkblue);
    z-index: 24;
}
#navbar ul{
    overflow-y: auto;
    overflow-x: hidden;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-inline-start: 20px;
}
li{
    height: 100%;
    width: 100%;
    border-top: 2.4px solid var(--color-white);
    margin: 6px;
    
}
li > a{
    text-decoration: none;
    color: var(--color-white);
    cursor: pointer;
    padding: 10px 30px;
    font-size: 1.1rem;
    display: block;
}
header{
    color: #37af65;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    text-align: center;
    margin: 12px;
}

#main-doc{
    position: absolute;
    margin-left: 280px;  
    padding: 20px;
}















@media (max-width: 900px){
    li > a {
        padding: 7px 30px; 
    }
}
@media (max-width: 599px) {
    #navbar{
        width: 100%;
        display: none;
    }
    li > a {
        padding: 6px 30px; 
    }
    header{
        display: none;
    }
    body .hamburger-icon{
        display: block;
       
    }
    #main-doc{
        margin: 0;
        padding: 30px 40px;
        width: 100%;
    }

}
  